@import '../../assets/colors.scss';

.confirmBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 400px;

    &.dark {
        background-color: $cardBlack;
        color: $white !important;
        h2 {
            color: $white;
        }
        button {
            &.btnDel {
                background-color: $redDark !important;
            }
        }
    }
    h2 {
        color: $black;
        margin-bottom: 5px;
    }
    .btnsConfirm {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        button {
            width: 150px;
            height: 40px;
            margin-top: 20px;
            border: none;
            outline: none;
            font-size: 18px;
            color: $white;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
            &:hover {
                transform: translateY(3px);
            }
            &:focus {
                outline: none;
            }
            &.btnCancel {
                background: $blue;
            }
            &.btnDel {
                background-color: $red;
            }
        }
    }
}
