$main: #f5f5f5;
$blue: #2264d1;
$green: #3dc47e;
$red: #ff4f52;
$white: #ffffff;
$black: #2e3a59;
$gray: #433e4f;
$violet: #6d75e7;
$sea: #4cb9fc;
$greenCard: #30aa6b;

$blackDark: #17151c;
$blueDark: #76a9ff;
$cardBlack: #212a3a;
$redDark: #c8372d;
