@import '../../assets/colors.scss';

.authMain {
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    .logo {
        margin-bottom: 50px;
    }
}

.auth {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 60%;
            fill: #4e4957;
        }
    }
    .content {
        span {
            display: block;
            margin-bottom: 10px;
            color: $white;
            font-size: 15px;
            font-family: 'IBMSans';
        }
    }

    .btnsBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        button:first-child {
            margin-bottom: 15px;
        }
    }
    button {
        height: 30px;
        width: 100%;
        background: none;
        border: none;
        border-radius: 2px;
        outline: none;
        padding: 0 10px;
        font-weight: bold;
        cursor: pointer;
        color: $white;
        font-family: 'IBMBold';
    }
    .btnReg {
        border: 0.5px solid $orange;
        &:hover {
            border: 2px solid $orange;
        }
    }
    .btnLogin {
        border: 0.5px solid $blue;
        &:hover {
            border: 2px solid $blue;
        }
    }
    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin-bottom: 20px;

        .emailBlock {
            width: 100%;
            margin-bottom: 15px;
            position: relative;
        }
        .passwordBlock {
            width: 100%;
            margin-bottom: 15px;
            position: relative;
        }
        label {
            display: flex;
            align-items: center;
            color: rgba($color: $gray, $alpha: 1);
            position: absolute;
            left: 10px;
            bottom: 0;
            cursor: text;
            transition: all 0.3s ease;
            font-size: 12px;
            width: 60px;
            height: 30px;
        }
        input {
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            background-color: $secondDark;
            padding: 0 10px;
            border-radius: 3px;
            color: $white;
            font-family: 'IBMBold';
            font-size: 14px;
            &:focus {
                border: 1px solid $blue;
            }
            &:-webkit-autofill {
                &,
                &:hover,
                &:focus,
                &:active {
                    transition-delay: 9999s;
                    transition-property: background-color, color;
                }
            }
        }
        input:focus + .labelName {
            transform: translate(-60px, 0);
        }
        input:focus + .labelEmail {
            transform: translate(-60px, 0);
        }
        input:focus + .labelPassword {
            transform: translate(-80px, 0);
        }

        input[type='text']:valid + .labelName {
            transform: translate(-60px, 0);
        }
        input[type='text']:valid + .labelEmail {
            transform: translate(-60px, 0);
        }
        input[type='password']:valid + .labelPassword {
            transform: translate(-80px, 0);
        }

        .errors {
            align-self: flex-start;
            margin-bottom: 5px;
            font-size: 14px;
            color: $red;
        }
    }
    .linkLogin {
        color: $blue;
        text-decoration: none;
        font-size: 17px;
        font-weight: 700;
    }
    .linkReg {
        color: $orange;
        text-decoration: none;
        font-size: 17px;
        font-weight: 700;
    }
}

.site {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $white;
    margin: 0 !important;
}

.load {
    g[id='leftEye'] {
        animation: rotatingLeft 1s linear infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
    g[id='rightEye'] {
        animation: rotatingRight 1s linear infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
}
@keyframes rotatingLeft {
    from {
        transform: rotateZ(0deg);
        transform-box: fill-box;
    }
    to {
        transform: rotateZ(360deg);
        transform-box: fill-box;
    }
}
@keyframes rotatingRight {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}
